.numberButton {
  width: 60px;
  height: 60px;
  background: #1c4378;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  color: white;
}

.numbersList {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}